<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Course Tracker</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="hasRoute('/') || hasRoute('/course')" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>school</mat-icon>
        <span>Course Work</span>
      </button>
      <button mat-menu-item routerLink="/course">
        <mat-icon>add</mat-icon>
        <span>Add Courses</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

