<mat-accordion multi="false" *ngIf="courses.length > 0">
  <mat-expansion-panel hideToggle *ngFor="let course of courses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{course.courseName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="course-info" *ngIf="hide === false">
      <p>Course Name: {{course.courseName}}</p>
      <p>Professor: {{course.profName}}</p>
      <p *ngIf="course.profEmail !== ''">Professor Contact: {{course.profEmail}}</p>
    </div>
    <div class="update-course"  *ngIf="hide === true">
      <mat-form-field>
        <mat-label>Course Name: </mat-label>
        <input matInput type="text" name="courseName" [(ngModel)]="course.courseName" required #courseName="ngModel">
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Professor: </mat-label>
        <input matInput type="text" name="profName" [(ngModel)]="course.profName" required #profName="ngModel">
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Professor Email: </mat-label>
        <input matInput type="text" name="profEmail" [(ngModel)]="course.profEmail" #profEmail="ngModel">
        <mat-error></mat-error>
      </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button (click)="updateCourse()" *ngIf="hide === true">
        <mat-icon color="primary">check</mat-icon>
      </button>
      <button mat-raised-button (click)="editCourse()" *ngIf="hide === false">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button mat-raised-button (click)="deleteCourse()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<h1 *ngIf="courses.length <= 0">No Courses Added Yet!</h1>
