<mat-accordion multi="false" *ngIf="courses.length > 0">
  <mat-expansion-panel hideToggle *ngFor="let course of courses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{course.courseName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="course-info">
      <p>Course Name: {{course.courseName}}</p>
      <p>Professor: {{course.profName}}</p>
      <p>Professor Contact: {{course.profEmail}}</p>
    </div>
    <mat-action-row>
      <div class="buttons">
        <button mat-raised-button [routerLink]="['/edit', course.id]">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-raised-button (click)="deleteCourse(course.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<h1 *ngIf="courses.length <= 0">No Courses Added Yet!</h1>
