<form>
  <div class="courseInfo">
    <mat-form-field appearance="fill">
      <mat-label>Enter Course Name</mat-label>
      <input matInput required>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter Course Professor</mat-label>
      <input matInput required>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter Professor Email</mat-label>
      <input matInput>
      <mat-error></mat-error>
    </mat-form-field>
    <app-button></app-button>
  </div>
</form>
