<!-- TODO *ngFor to loop through courses in mongoDB -->
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      iOS Development 2
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Course Name: iOS Development 2</p>
  <p>Professor: Darren Takaki</p>
  <p>Professor Contact: ctakaki@stclaircollege.ca</p>
  <div class="buttons">
    <button mat-raised-button>
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
</mat-expansion-panel>
