h1 {
  font-size: 48px;
  text-align: center;
  margin: 5% auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

mat-spinner {
  margin: auto;
}

table {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* media max width of 760 */
@media screen and (max-width: 760px) {
  table {
    width: 35em;
  }

  tr {
    font-size: small;
  }

  td {
    font-size: small;
  }
}

.buttons {
  width: 80%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.buttons app-edit-work-button {
  margin: 1%;
}
