h1 {
  font-size: 48px;
  text-align: center;
  margin: 5% auto;
}

table {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.buttons {
  width: 25%;
  margin-top: 1%;
  float: right;
}

.buttons app-edit-work-button {
  margin: 1%;
}
