mat-card {
  width: 50%;
  height: 70%;
  margin: 5% auto;
}

.email-form {
  position: absolute;
  width: 50%;
  margin-top: 5%;
  left: 25%;
}

.email-form mat-form-field {
  width: 100%;
}

.email-form button {
  width: 100%;
}

.password-form {
  position: absolute;
  top: 55%;
  width: 50%;
  left: 25%;
}

.password-form mat-form-field {
  width: 100%;
}

.password-form button {
  width: 100%;
}
