<form (submit)="onAddCourse(postForm)" #postForm="ngForm" >
  <div class="courseInfo">
    <mat-form-field appearance="fill">
      <mat-label>Enter Course Name</mat-label>
      <input matInput type="text" name="courseName" [ngModel]="course?.courseName" required #courseName="ngModel">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter Course Professor</mat-label>
      <input matInput type="text" name="profName" [ngModel]="course?.profName" required #profName="ngModel">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter Professor Email</mat-label>
      <input matInput type="text" name="profEmail" [ngModel]="course?.profEmail" #profEmail="ngModel" email>
      <mat-error></mat-error>
    </mat-form-field>
    <app-button></app-button>
  </div>
</form>
